:root {
  --primary-red: hsl(7, 99%, 70%);
  --primary-yellow: hsl(51, 100%, 49%);
  --primary-graphic-text: hsl(167, 40%, 24%);
  --primary-dark-blue: hsl(198, 62%, 26%);
  --primary-light-green: hsl(168, 34%, 41%);

  --secondary-desaturated-blue: hsl(212, 27%, 19%);
  --secondary-very-dark-grey-blue: hsl(213, 9%, 39%);
  --secondary-dark-grey-blue: hsl(232, 10%, 55%);
  --secondary-gray-blue: hsl(210, 4%, 67%);
  --secondary-white: hsl(0, 0%, 100%);

  --dodger-blue: rgb(60, 190, 255);
  --transparent-red: hsla(7, 99%, 70%, 0.4);
  --transparent-yellow: hsl(51, 100%, 49%, 0.4);

  --ff-primary: "Barlow", san-serif;
  --ff-secondary: "Fraunces", san-serif;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

/* typography */
body {
  font-size:  18px;
  font-family: var(--ff-primary);
}
body,
h1,
h2,
h3,
h4,
h5 {
  margin: 0;
}

h1 {
  font-size: 3rem;
  text-transform: uppercase;
  font-weight: 600;
}

h2 {
  font-family: var(--ff-secondary);
  font-size: 2rem;
  font-weight: 900;
  color: var(--primary-dark-blue);
}

h3,
h4,
h5 {
  font-size: 1rem;
  font-family: var(--ff-secondary);
  font-weight: 700;
  color: var(--primary-dark-blue);
}

p {
  font-family: var(--ff-primary);
  font-size: 0.9rem;
  font-weight: normal;
  color: var(--secondary-gray-blue);
}
a {
  color: var(--primary-dark-blue);
  text-transform: uppercase;
  font-weight: bold;
  line-height: 5px;
}

/* Header/navigation */
header {
  color: #fff;
  font-family: var(--ff-secondary);
  background-color: var(--dodger-blue);
}
header > div {
  width: 100%;
  text-align: center;
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);

}
.arrow {
  font-size: 8rem;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, 50%);
}
nav {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 1rem 2rem;
}
.hamburger {
  display: none;
}

#logo {
  margin: auto 0;
  width: 20%;
}
ul {
  list-style-type: none;
  padding: 0;
  display: flex;
}
li {
  padding: 1rem 1.5rem;
}
li:hover {
  background-color: var(--secondary-white);
  border-radius: 2rem;
  color: var(--primary-graphic-text);
}

/* images */
img {
  width: 100%;
}

/* footer */
footer {
  background-color: var(--primary-light-green);
  color: var(--primary-graphic-text);
  padding: 3rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 2rem;
}
/* Grid */
.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas:
    "content1 content2"
    "content3 content4"
    "content5 content6";
}
.content1 {
  grid-area: content1;
}
.content2 {
  grid-area: content2;
}
.content3 {
  grid-area: content3;
}
.content4 {
  grid-area: content4;
}
.content5 {
  grid-area: content5;
}
.content6 {
  grid-area: content6;
}

/* end grid */

.flex-row {
  display: flex;
  flex-direction: row;
}
.flex-row > div {
  width: 50%;
}
.flex-col {
  display: flex;
  flex-direction: column;
}

.text-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 10%;
}

.graphic-design,
.photography {
  position: relative;
}

.graphic-design > div,
.photography > div {
  font-size: 10%;
  position: absolute;
  width: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 50%);
  text-align: center;
  color: var(--primary-graphic-text);
}
.graphic-design p,
.photography p {
  color: var(--primary-graphic-text);
}

/*  Testimonials */
.testimonials {
  padding: 5rem 0;
}
.testimonials > h4 {
  text-align: center;
  color: var(--secondary-gray-blue);
  letter-spacing: 5px;
  text-transform: uppercase;
  padding: 2rem 0;
}
.testimonials > div {
  display: flex;
  padding: 1rem 1rem;
}

.testimonials > div div {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem 1rem;
}

.testimonials img {
  width: 4rem;
  border-radius: 50%;
}
.testimonials small {
    font-size: 1.5rem;
    color: var(--secondary-gray-blue);
}

/* aux classes */
.light-green-bg {
  background-color: var(--primary-light-green);
}
.yellow-bg {
  background-color: var(--primary-yellow);
}

.red-bg {
  background-color: var(--primary-red);
}

.yellow-underline {
  text-decoration: underline solid var(--transparent-yellow) 5px;
}
.yellow-underline:hover {
  text-decoration: underline solid var(--primary-yellow) 5px;
}
.red-underline {
  text-decoration: underline solid var(--transparent-red) 5px;
}
.red-underline:hover {
  text-decoration: underline solid var(--primary-red) 5px;
}

.social > img {
  padding: 0 1rem;
}


/* Media query */
@media (max-width: 750px) {
  nav {
    padding: 3rem 2rem;
  }
  ul {
    display: none;
  }
  .hamburger {
    display: block;
    width: 2rem;
  }
  header {
    text-align: center;
  }
  header > img {
    margin-top: 30rem;
  }
  header > div {
    top: 40%;
  }




  .grid {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
    grid-template-areas:
      "content2"
      "content1"
      "content3"
      "content4"
      "content5"
      "content6";
  }

  .text-content {
    padding: 0 15vw;
    text-align: center;
  }
  .testimonials > div {
    flex-direction: column;
    text-align: center;
    padding: 0 10rem;
  }
  .testimonials > div > div {
    padding: 2rem 0;
  }
  .testimonials img {
    width: 15vw;
    border-radius: 50%;
  }
  .testimonials small {
      font-size: 1.5rem;
  }
}
